* {
    padding: 0;
    margin: 0;
}

.home {
    margin: 0 auto;
    border: 1px solid red;
    vertical-align: middle;
}
.apps {
    margin: 100px auto;
    width: 120px;
    border: 1px solid red;
    list-style: none;
}